extends layout

block stylesheets
  link(rel='stylesheet', href='/css/index.css')

block scripts
  script(src='/js/index.js')

block content
  #content-index
    #section-main
      .container
        .row
          .col-md-6
            h3.slogan Lorem ipsum dolor sit amet!
            p.text-justify.highlight
              | Minus corrupti eos rerum  omnis alias cumque. Blanditiis totam
              | aut dolorum iure debitis sed numquam eaque. Ipsa deleniti ab a
              | dicta  quae  at  assumenda. Assumenda  asperiores  alias  quia
              | tenetur qui quis. Error ut exercitationem ipsam provident!
        .row
          .col-md-4
            //- mini stats area
            //- link to full stats page
          .col-md-8
            .carousel.slide(data-ride='carousel', data-interval='8000')#carousel-featured
              ol.carousel-indicators
                li(data-target='#carousel-featured', data-slide-to='0').active
                li(data-target='#carousel-featured', data-slide-to='1')
                li(data-target='#carousel-featured', data-slide-to='2')
                li(data-target='#carousel-featured', data-slide-to='3')
                li(data-target='#carousel-featured', data-slide-to='4')
                li(data-target='#carousel-featured', data-slide-to='5')
                li(data-target='#carousel-featured', data-slide-to='6')
                li(data-target='#carousel-featured', data-slide-to='7')
                li(data-target='#carousel-featured', data-slide-to='8')
              //-------------------------------------------------------
              .carousel-inner
                .item.active
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/1abc9c/ffffff').img-circle
                        .col-md-9
                          p.featured-title Andrew Canning
                          p.featured-subtitle Server Developer
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Officiis veniam  molestiae dolor  omnis ullam.  Velit eligendi
                            | blanditiis commodi  distinctio. Ex  sit ut  odit quia  qui aut
                            | quibusdam. Non  vel voluptatem hic. Velit  deserunt voluptates
                            | et sit atque voluptas consequuntur enim.
                .item
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/16a085/ffffff').img-circle
                        .col-md-9
                          p.featured-title The Red Keep
                          p.featured-subtitle Minecraft Servers
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Ad   pariatur  vero   similique  officia   numquam  blanditiis
                            | similique ipsam.  Consequuntur quod porro eveniet.  Earum quod
                            | facilis nam  consequatur nemo et  soluta error. Rerum  sed cum
                            | laboriosam officiis molestiae. Aut autem quidem maxime.
                .item
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/d35400/ffffff').img-circle
                        .col-md-9
                          p.featured-title Codey Marshall
                          p.featured-subtitle Server Admin
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Officiis veniam  molestiae dolor  omnis ullam.  Velit eligendi
                            | blanditiis commodi  distinctio. Ex  sit ut  odit quia  qui aut
                            | quibusdam. Non  vel voluptatem hic. Velit  deserunt voluptates
                            | et sit atque voluptas consequuntur enim.
                .item
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/2ecc71/ffffff').img-circle
                        .col-md-9
                          p.featured-title Tajana Matijević
                          p.featured-subtitle Expert Moderator
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Ad   pariatur  vero   similique  officia   numquam  blanditiis
                            | similique ipsam.  Consequuntur quod porro eveniet.  Earum quod
                            | facilis nam  consequatur nemo et  soluta error. Rerum  sed cum
                            | laboriosam officiis molestiae. Aut autem quidem maxime.
                .item
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/27ae60/ffffff').img-circle
                        .col-md-9
                          p.featured-title Programmers' Creed
                          p.featured-subtitle Development Company
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Officiis veniam  molestiae dolor  omnis ullam.  Velit eligendi
                            | blanditiis commodi  distinctio. Ex  sit ut  odit quia  qui aut
                            | quibusdam. Non  vel voluptatem hic. Velit  deserunt voluptates
                            | et sit atque voluptas consequuntur enim.
                .item
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/3498db/ffffff').img-circle
                        .col-md-9
                          p.featured-title Kerstin Becker
                          p.featured-subtitle Server Developer
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Ad   pariatur  vero   similique  officia   numquam  blanditiis
                            | similique ipsam.  Consequuntur quod porro eveniet.  Earum quod
                            | facilis nam  consequatur nemo et  soluta error. Rerum  sed cum
                            | laboriosam officiis molestiae. Aut autem quidem maxime.
                .item
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/9b59b6/ffffff').img-circle
                        .col-md-9
                          p.featured-title Juan Estévez Castellano
                          p.featured-subtitle Server Admin
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Officiis veniam  molestiae dolor  omnis ullam.  Velit eligendi
                            | blanditiis commodi  distinctio. Ex  sit ut  odit quia  qui aut
                            | quibusdam. Non  vel voluptatem hic. Velit  deserunt voluptates
                            | et sit atque voluptas consequuntur enim.
                .item
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/e67e22/ffffff').img-circle
                        .col-md-9
                          p.featured-title Ruku Shiteka
                          p.featured-subtitle Web Developer
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Ad   pariatur  vero   similique  officia   numquam  blanditiis
                            | similique ipsam.  Consequuntur quod porro eveniet.  Earum quod
                            | facilis nam  consequatur nemo et  soluta error. Rerum  sed cum
                            | laboriosam officiis molestiae. Aut autem quidem maxime.
                .item
                  .item-inner
                    .item-content
                      .row
                        .col-md-3
                          a(href='#').thumbnail
                            img(src='http://placehold.it/200x200/e74c3c/ffffff').img-circle
                        .col-md-9
                          p.featured-title Quotedox LLC
                          p.featured-subtitle Service Providers
                          .rating-block
                            .progress
                              .progress-bar.progress-bar-success(style="width: 85%;")
                                | 8.5
                          p.featured-description
                            | Officiis veniam  molestiae dolor  omnis ullam.  Velit eligendi
                            | blanditiis commodi  distinctio. Ex  sit ut  odit quia  qui aut
                            | quibusdam. Non  vel voluptatem hic. Velit  deserunt voluptates
                            | et sit atque voluptas consequuntur enim.
              //------------------------------------------------------
              a.left.carousel-control(role='button', data-slide='prev', href='#carousel-featured')
                span.glyphicon.glyphicon-chevron-left
              a.right.carousel-control(role='button', data-slide='next', href='#carousel-featured')
                span.glyphicon.glyphicon-chevron-right
