doctype html5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/flat-ui.css')
    link(rel='stylesheet', href='/css/icomoon.css')
    block stylesheets
  body
    //---------------------------------------------------------------------------------------------------------HEADER
    header
      nav(role='navigation').navbar.navbar-default.navbar-fixed-top#navbar-main
        .container
          .navbar-header
            button(type='button', data-toggle='collapse', data-target='#navbar-main .navbar-collapse').navbar-toggle
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='#').navbar-brand MCFreelancer
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') How It Works
              li
                a(href='#') Find Work
              li
                a(href='#') Find Freelancers
              //- If user is logged in display the menu
              if (false)
                li.div-dropdown
                  button(type='button', data-toggle='dropdown').btn.btn-sml.navbar-btn.dropdown-toggle#dropdown-user
                    span.glyphicon.glyphicon-user
                    |  Username
                  ul(role='menu', aria-labelledby="#dropdown-user").dropdown-menu
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Profile
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Contracts
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Settings
                    li.divider(role='presentation')
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Log Out
              else
                li
                  a(href='#modal-sign-in', data-toggle='modal', data-target='#modal-sign-in') Sign In
                li
                  a(href='#modal-sign-up', data-toggle='modal', data-target='#modal-sign-up') Sign Up
    //--------------------------------------------------------------------------------------------------CONTENT BLOCK
    block content
    //---------------------------------------------------------------------------------------------------------MODALS
    .modal.fade#modal-sign-in
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button', data-dismiss='modal', aria-hidden='true').close ×
            h4.modal-title Sign In
          .modal-body
            form(role='form')#form-sign-in
              .form-group
                label(for='input-email-sign-in') Email Address
                input(type='email').form-control#input-email-sign-in
              .form-group
                label(for='input-password-sign-in') Password
                input(type='password').form-control#input-password-sign-in
              .row
                .col-lg-6
                  label(for='checkbox-remember-sign-in', style='margin:6px 16px').checkbox
                    input(type='checkbox', value='', data-toggle='checkbox')#checkbox-remember-sign-in
                    | Remember me
                .col-lg-6
                  p(style='margin:0 16px').text-right
                    small
                      a(href='#') Forgot password?
            .text-center
              a(href='#').btn.btn-lg.btn-embossed.btn-primary
                span.icomoon-google-plus-4
                |&nbsp; Sign in with Google
              | &nbsp;
              a(href='#').btn.btn-lg.btn-embossed.btn-default
                span.icomoon-github-3
                | &nbsp; Sign in with GitHub
          .modal-footer
            button(type='button').btn.btn-info Sign In
            button(type='button', data-dismiss='modal').btn Close
    //-----------------------
    .modal.fade#modal-sign-up
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button', data-dismiss='modal', aria-hidden='true').close ×
            h4.modal-title Sign Up
          .modal-body
            form(role='form')#form-sign-up
              .form-group
                label(for='input-username-sign-up') Username
                input(type='text').form-control#input-username-sign-up
              .form-group
                label(for='input-email-sign-up') Email Address
                input(type='email').form-control#input-email-sign-up
              .form-group
                label(for='input-password-sign-up') Password
                input(type='password').form-control#input-password-sign-up
              .form-group
                label(for='input-repeat-password-sign-up') Confirm Password
                input(type='password').form-control#input-repeat-password-sign-up
            .text-center
              a(href='#').btn.btn-lg.btn-embossed.btn-primary
                span.icomoon-google-plus-4
                |&nbsp; Sign Up with Google
              | &nbsp;
              a(href='#').btn.btn-lg.btn-embossed.btn-default
                span.icomoon-github-3
                | &nbsp; Sign Up with GitHub
          .modal-footer
            button(type='button').btn.btn-info Sign Up
            button(type='button', data-dismiss='modal').btn Close
    //---------------------------------------------------------------------------------------------------------FOOTER
    footer
      .container
        .row
          .col-lg-12
            p.copyright.text-muted.small(style="text-align:center;")
              | Copyright © Castaway Labs, LLC 2014. All Rights Reserved
    //-----------------------------------------------------------------------------------------------------JAVASCRIPT
    script(src='js/jquery/jquery-2.1.1.min.js')
    script(src='js/bootstrap/bootstrap.min.js')
    script(src='js/flat-ui/flatui-checkbox.js')
    script(src='js/h-popovers.js')
    block scripts
